<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="author" content="Kaung Khant Zaw" />
        <meta name="description" content="WEB322 - Kaung Khant Zaw" />

        <title>WEB322 - Kaung Khant Zaw</title>
        <meta charset="utf-8" >

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <!-- CSS Style Sheet -->
        <link rel="stylesheet" href="../public/css/main.css">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="#">WEB322 - Kaung Khant Zaw</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categories">Categories</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>

            <section id="about">
                <h1>About</h1>

                <!-- Picture + Description -->
                <div class="about-container container">
                    <div class="row">
                        <!-- Picture -->
                        <div class="about-col-1 col-sm">
                            <img src="https://avatars.githubusercontent.com/u/113069280?v=4" alt="picture of guy" />
                        </div>

                        <!-- Description -->
                        <div class="about-col-2 col-sm">
                            <div class="about-col-2-text-container">
                                <h2>Kaung Khant Zaw</h2>
                                <p>
                                    I'm a 2nd-year computer programming student and an aspiring web developer. With 3 years of social media marketing and 
                                    graphic design experience as my background, I bring a unique blend of skills to the table. Recently, I pivoted
                                    my career from digital marketing to computer programming due to my passion for web development and UI/UX design.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
    
                <div class="coming-soon-container">
                    <h2>Coming Soon</h2>
                    <p>
                        Something's cooking in the oven. Stay tuned!
                    </p>
                </div>
                
            </section>
        </main>

    </body>
</html>