<!--
/*********************************************************************************
*  WEB322 – Assignment 06
*  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.  No part  of this assignment has been copied manually or electronically from any other source 
*  (including 3rd party web sites) or distributed to other students.
* 
*  Name: Kaung Khant Zaw Student ID: 157467218 Date: 14th April, 2023
*
*  Cyclic Web App URL: https://mushy-school-uniform-toad.cyclic.app/about
*
*  GitHub Repository URL: https://github.com/kzaw28/web322-app
*
********************************************************************************/ 
-->

<h1 style="color: #f84141;">Log In</h1>
<hr>

{{#if errorMessage}}
<div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>
{{/if}}

<form action="/login" method="POST">
    <div class="form-container">

        <div class="form-floating mb-3">
            <input name="userName" id="userName" class="form-control border border-danger" placeholder="Username" required autofocus></input>
            <label for="userName" class="form-label">User Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" name="password" id="password" class="form-control border border-danger" placeholder="Password" required></input>
            <label for="password" class="form-label">Password</label>
        </div>

        <button type="submit" class="btn btn-primary mt-4 btn-lg btn-danger">Login</button>
    </div>
</form>