<!--
/*********************************************************************************
*  WEB322 – Assignment 06
*  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.  No part  of this assignment has been copied manually or electronically from any other source 
*  (including 3rd party web sites) or distributed to other students.
* 
*  Name: Kaung Khant Zaw Student ID: 157467218 Date: 14th April, 2023
*
*  Cyclic Web App URL: https://mushy-school-uniform-toad.cyclic.app/about
*
*  GitHub Repository URL: https://github.com/kzaw28/web322-app
*
********************************************************************************/ 
-->
<h2 style="color: #f84141;">{{session.user.userName}} ({{session.user.email}}) History</h2>
<hr>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Login Date/Time</th>
            <th>Client Information</th>
        </tr>
    </thead>
    <tbody>
        {{#each session.user.loginHistory}}
        <tr>
            <td>{{this.dateTime}}</td>
            <td>{{this.userAgent}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
