/*********************************************************************************
*  WEB322 – Assignment 03
*  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.  No part *  of this assignment has been copied manually or electronically from any other source 
*  (including 3rd party web sites) or distributed to other students.
* 
*  Name: Kaung Khant Zaw Student ID: 157467218 Date: 20th February, 2023
*
*  Cyclic Web App URL: https://mushy-school-uniform-toad.cyclic.app/about
*
*  GitHub Repository URL: https://github.com/kzaw28/web322-app
*
********************************************************************************/ 


/* Importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

html {
    max-width: 1100px;
    width: 90%;
    margin: auto;
}

p {
    font-size: 1.1em;
    font-family: 'Source Sans Pro', sans-serif;
}

/*---------------------- Nav Bar ----------------------------*/

nav ul li {
    margin: 10px 20px;
}

.add-post-nav-item {
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    background-color: #f84141;
    color: #fff;
    font-weight: 600;

    transition: transform 0.1s ease-in-out;
}

.add-post-nav-item:hover {
    transform: scale(1.1); /* The "button" pops up when hovered over*/
    border-color: #f84141;
    color: #fff;

}
/*----------------------- About ----------------------------- */

#about {
    margin-top: 20px;
}

#about h1 {
    font-weight: 800;
    text-align: center;
    color: #f84141;

    margin-bottom: 30px;
}

.about-container {
    margin-bottom: 50px;
}

#about img {
    width: 70%;
    border-radius: 17px;

    display: block; /* We have to make img a block element to be able to center it*/
    margin: auto;
}

.about-col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-col-2 {
    display: flex;
    align-items: center;
}

.coming-soon-container h2 {
    color: #f84141;
    font-weight: 900;
    text-align: center;
}

.coming-soon-container p {
    text-align: center;
}